[data-theme="dark"] {
    --primary: #ffffff;
    --background: rgba(0, 0, 0, 0.985);
    --text: #fff;
}

[data-theme="ligth"] {
    --primary: #d02ad6;
    --background: rgba(0, 0, 0, 0.966);
    --text: #000;
    --shadow: rgb(45, 11, 197);
}

html {
    text-align: center;
    font-family: monospace;
    font-size: 0.5em;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 20px;
    font-family: monospace;
}

#header>h1>strong {
    font-size: 2.5em;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--background);
    margin: 20px;
}


body {
    color: var(--text);
    background-color: var(--background);
    font-family: monospace;
    margin: 0;
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efeff2f4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:  rgba(0, 0, 0, 0.78);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #000000de;
    
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color:  #ffffff;
} */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: var(--background);
    padding: 25px;
    border-radius: 32px;
    grid-gap: 2px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.33));
    box-shadow: 10px 0.8px 45px 1px #35766e60;
    position: fixed;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    color: var(--text);
    border-radius: 32px;
    font-size: 3em;
    border: none;
    background-color: var(--background);
    box-shadow: 5px 5px 10px -3px #35766e60, -5px -5px 15px 3px #b2fff715;
}

button:active {
    background-color: #115572;
}

button:focus {
    outline: none;
}

.wide-number {
    grid-column: span 4;
    height: 50px;
    background-color: rgba(12, 136, 117, 0.862);
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 32px;
    color: rgb(147, 230, 13);
    text-decoration: none;
    background-color: #132f29;
    text-align: right;
    font-size: 1.5em;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000040;
}

#current-value {
    background-color: #142f29;
    font-size: 2.5em;
    color: white;
}

#last-value {
    background-color: #142f29;
    font-size: 4em;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -72px;
    font-size: 1.7em;
}